/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    font-family: Pretendard, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-Medium.woff2");
    font-weight: 500;
}